body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #20174b;
  color: #d4baea;
}

h1 {
  margin: 10px;
  color: #be85f0;
}

input {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #d4baea;
  color:#20174b;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #d4baea;
  color: #20174b;
}

th, td {
  padding: 10px;
  border: 1px solid #1a1fae;
}

code {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  background-color: #d4baea;
  color:#20174b;
  padding: 2px 3px;
  border: 1px solid #616161;
  border-radius: 5px;
}

.input-container {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  width: 95%;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: auto;
}

.lists-container {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  width: 95%;
}

.text-field {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  margin: 20px auto;
}

/** BUTTONS */

button {
  cursor: pointer;
  background-color: #20174b;
  color: #be85f0;
  border-color: #d4baea;
}

.generate-button {
  margin: 5px;
  width: 50%;
  padding: 10px;
  font-size: large;
}

.add-button {
  width: calc(100% + 15px);
}

.table-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/** SLIDER */

  .slider-button {
    width: 80px;
    height: 40px;
    background-color: #20174b;
    border: 2px solid;
    border-radius: 20px;
    position: relative;
    transition: background-color 0.3s ease;
  }

  .slider {
    width: 40px;
    height: 40px;
    background-color: #20174b;
    border: 2px solid;
    border-radius: 50%;
    position:relative;
    top: -1.5px;
    left: -2.5px;
    transition: transform 0.3s ease;
  }

  .option {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    text-align: center;
    font-size: 14px;
    transition: color 0.3s ease;
  }

  .option:nth-child(1) {
    left: 6px;
  }

  .option:nth-child(2) {
    right: 0px;
  }

  .active .slider-button {
    background-color: #d4baea;
  }

  .active .slider {
    transform: translateX(95%);
    background-color: #be85f0;
    /* box-shadow: 0 0 6px #be85f0; */
    border-radius: 50%;
  }

  .active .option:nth-child(1) {
    color: #be85f0;
  }

  .active .option:nth-child(2) {
    color: #20174b;
  }

/** VARIABLES */

.variable-item {
  display: flex;
  align-items: center;
  background-color: #d4baea;
  padding: 5px;
  margin-bottom: 5px;
}

.variable-item.disabled-background {
  background-color: #d4baea66;
}

.variable-item .variable-text {
  flex-grow: 1;
  overflow-wrap: break-word;
  color: #20174b;
}

.variable-item .visibility-toggle {
  background-color: #d4baea;
  color: #20174b;
  border-color: #be85f0;
  margin-right: 5px;
}

.variable-item .delete-button {
  background-color: #d4baea;
  color: #20174b;
  border-color: #f03633;
  margin-left: 5px;
}

.variable-item button {
  margin-right: 10px;
}

.clear-variables {
  background-color: #20174b;
  color: #be85f0;
  border-color: #f03633;
}

/** EXPRESSIONS */

.expression-item {
  display: flex;
  align-items: center;
  background-color: #d4baea;
  padding: 5px;
  margin-bottom: 5px;
}

.expression-item.disabled-background {
  background-color: #d4baea66;
}

.expression-item .expression-text {
  flex-grow: 1;
  overflow-wrap: break-word;
  color: #20174b;
}

.expression-item .visibility-toggle {
  background-color: #d4baea;
  color: #20174b;
  border-color: #be85f0;
  margin-right: 5px;
}

.expression-item .delete-button {
  background-color: #d4baea;
  color: #20174b;
  border-color: #f03633;
  margin-left: 5px;
}

.expression-item button {
  margin-right: 10px;
}

.clear-expressions {
  background-color: #20174b;
  color: #be85f0;
  border-color: #f03633;
}
