body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #20174b;
  color: #d4baea;
}

select {
  background-color: #d4baea;
  color: #20174b;
  width: max-content;
}

option {
  background-color: #d4baea;
  color: #20174b;
  accent-color: #be85f0;
}
option:hover,
select::selection, option::selection, select::-moz-selection, option::-moz-selection
select:active, option:active
{
  background-color: #be85f0;
  color: #20174b;
}

h1 {
  margin: 20px;
  margin-top: 40px;
  color: #be85f0;
}

code {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  background-color: #d4baea;
  color:#20174b;
  padding: 2px 3px;
  border: 1px solid #616161;
  border-radius: 5px;
}

.language-dropdown {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.description {
  margin: 20px;
}

/** TRUTH TABLE */

table {
  margin: 20px auto;
  border-collapse: collapse;
  color: #20174b;
}

th {
  padding: 10px;
  border: 1px solid #20174b;
  background-color: #b795d4;
  border-bottom-width: 3px;
}

td {
  padding: 10px;
  border: 1px solid #20174b;
  background-color: #d4baea;
}

td.letter-false {
  background-color: #d4baead6;
}

/** BUTTONS */

button {
  cursor: pointer;
  background-color: #20174b;
  color: #be85f0;
  border-color: #d4baea;
  padding: 4px;
}

button:hover, .slider-button:hover {
  box-shadow: 0 0 6px #be85f0;
}

.generate-button {
  margin: 5px;
  width: 50%;
  padding: 10px;
  font-size: large;
}

.add-button {
  width: 100%;
}

.table-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/** SLIDER */

  .slider-button {
    cursor: pointer;
    width: 80px;
    height: 40px;
    background-color: #20174b;
    border: 2px solid;
    border-radius: 20px;
    position: relative;
    transition: background-color 0.3s ease;
  }

  .slider {
    width: 40px;
    height: 40px;
    background-color: #493d86;
    border: 2px solid;
    border-radius: 50%;
    border-color: #d4baea;
    position: absolute;
    top: -2px;
    left: -2.5px;
    transition: transform 0.3s ease;
  }

  .option {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    text-align: center;
    font-size: 14px;
    transition: color 0.3s ease;
    color: #be85f0;
  }

  .option:nth-child(3) {
    left: -1px;
    color: #be85f0;
  }

  .option:nth-child(2) {
    right: -1px;
    color: #d4baea;
  }

  .slider-button.active {
    background-color: #493d86;
  }

  .slider-button.active .slider {
    transform: translateX(96%);
    background-color: #be85f0;
    border-color: #d4baea;
    /* box-shadow: 0 0 6px #be85f0; */
    border-radius: 50%;
  }

  .slider-button.active .option:nth-child(3) {
    color: #d4baea;
  }

  .slider-button.active .option:nth-child(2) {
    color: #20174b;
  }

  /** VARIABLES & EXPRESSIONS */
  .variables-expressions-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    justify-items: center;
    margin: 20px auto;
    width: 90%;
  }

  .input-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 20px auto;
    width: 90%;
  }

  .variable-input {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
  }

  .expression-input {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 55%;
  }

  input {
    width: calc(100% - 8px);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #d4baea;
    color:#20174b;
  }

  .lists-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 20px auto;
    width: 90%;
  }

  .variable-list {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    height: 100%;
    width: 30%;
  }

  .expression-list {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    height: 100%;
    width: 55%;
  }

  .variable-item {
    display: flex;
    align-items: center;
    background-color: #d4baea;
    padding: 5px;
    margin-bottom: 5px;
  }

  .expression-item {
    display: flex;
    align-items: center;
    background-color: #d4baea;
    padding: 5px;
    margin-bottom: 5px;
  }

  .variable-item.disabled-background {
    background-color: #d4baea66;
  }

  .expression-item.disabled-background {
    background-color: #d4baea66;
  }

  .variable-item .variable-text {
    flex-grow: 1;
    overflow-wrap: break-word;
    text-align: center;
    color: #20174b;
  }

  .expression-item .expression-text {
    flex-grow: 1;
    overflow-wrap: break-word;
    text-align: start;
    color: #20174b;
  }

  .variable-item .visibility-toggle {
    background-color: #d4baea;
    color: #20174b;
    border-color: #be85f0;
    margin-right: 5px;
  }

  .expression-item .visibility-toggle {
    background-color: #d4baea;
    color: #20174b;
    border-color: #be85f0;
    margin-right: 5px;
  }

  .visibility-toggle:hover {
    box-shadow: 0 0 6px #20174b;
  }

  .variable-item .delete-button {
    background-color: #d4baea;
    color: #20174b;
    border-color: #f03633;
    margin-left: 5px;
  }

  .expression-item .delete-button {
    background-color: #d4baea;
    color: #20174b;
    border-color: #f03633;
    margin-left: 5px;
  }

  .clear-variables {
    background-color: #20174b;
    color: #be85f0;
    border-color: #f03633;
  }

  .clear-expressions {
    background-color: #20174b;
    color: #be85f0;
    border-color: #f03633;
  }

  .clear-variables:hover, .clear-expressions:hover, .delete-button:hover {
    box-shadow: 0 0 6px #f03633;
  }
